################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.[vV]s/
[oO]bj/
[bB]in/
