<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jiradiscovery.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/767cc0c8-e73a-488c-9e0b-7f957c1a3b18/resourceGroups/jira/providers/Microsoft.Web/sites/jiradiscovery</ResourceId>
    <UserName>$jiradiscovery</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jiradiscovery.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>